services:
  - type: web
    name: upskillize-backend
    runtime: node
    region: singapore
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: RESEND_API_KEY
        sync: false
      - key: FROM_EMAIL
        value: onboarding@resend.dev
      - key: ADMIN_EMAIL_1
        sync: false
      - key: ADMIN_EMAIL_2
        sync: false